<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AccountServiceSoap" />
        <binding name="GX4AServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:4595/api/SC4AService" binding="basicHttpBinding"
        bindingConfiguration="AccountServiceSoap" contract="SCAccountWS.AccountServiceSoap"
        name="AccountServiceSoap" />
      <endpoint address="http://localhost:4595/api/GX4AService"
        binding="basicHttpBinding" bindingConfiguration="GX4AServiceSoap"
        contract="GX4AService.GX4AServiceSoap" name="GX4AServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>